body {
  color: #031b4f;
  font-family: 'Inter', sans-serif;
}

a:focus {
  padding: 10px;
  text-decoration: none;
}

.navibar img {
  width: 150px;
}

.navibar {
  background-color: white;
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navibar li {
  display: inline-block;
  margin-left: 15px;
}

nav a {
  color: #031b4f;
  font-size: 13px;
  font-weight: 500;
}

a:hover {
  color: #006aff;
  text-decoration: none;
}

.btn {
  border: 1px solid #006aff;
  color: #006aff;
}

.btn__mobile {
  background: transparent;
  border: 0;
  color: #006aff;
  font-size: 20px;
}

.hero {
  background-color: #006aff;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-position: center;
  background-size: cover;
  width: 100%;
}

h1 {
  color: #FFF;
  font-size: 60px;
  font-weight: 500;
  padding-top: 200px;
}

.hero p {
  color: #FFF;
  font-size: 18px;
  opacity: 0.8;
}

.login-form {
  margin: 50px auto;
  min-width: 300px;
  padding-bottom: 30px;
  padding-top: 150px;
}

.login-form form {
  background: #FFF;
  border-radius: 5px;
  padding: 30px 20px 10px 20px;
}

.login-form h2 {
  font-size: 24px;
  margin: 0 0 15px;
}

.login-form span {
  color: #006aff;
}

.hero .form-control, .btn {
  border-radius: 2px;
  min-height: 38px;
}

.btn-primary {
  background-color: #579aff;
  border: 0;
  color: white;
}

.btn-secondary {
  background-color: #FFF;
  border: 0;
  box-shadow: 1px 1px 2px 0px #A4A4A4;
  color: #000;
}

.google__logo {
  height: 20px;
  left: 40px;
  position: absolute;
  width: auto;
}

.form-group p {
  color: #031b4f;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
}

.sponsor {
  background-color: #f3f5f9;
  display: block;
  padding: 40px 0 20px 0;
}

h5 {
  color: #6f7b97;
  margin: 0;
  text-transform: uppercase;
}

.sponsor__logos {
  margin: 20px;
}

.sponsor__logos img {
  margin: auto;
  padding-left: 10px;
}

.sponsor a {
  color: #006aff;
  font-weight: 500;
}

.features {
  margin: 80px 0 100px;
}

.features__text {
  color: #5b6987;
  font-size: 20px;
  margin-bottom: 100px;
}

.features__text h2 {
  color: #031b4e;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 20px;
}

.features__buttons {
  padding-bottom: 30px;
}

.features__buttons button {
  background: transparent;
  border: none;
  border-left: 1px solid rgba(3, 27, 78, 0.2);
  border-radius: 0;
  color: rgba(3, 27, 78, 0.6);
  display: block;
  font-size: 16px;
  padding: 15px;
}

.features__buttons button:active {
  color: #031b4e;
  border-color: #006aff;
  border-width: 3px;
  transition: border 0.1s linear
}

.features__description img {
  padding-bottom: 20px;
}

.features__description h5 {
  color: #031b4f;
  font-weight: 600;
  padding-bottom: 15px;
}

.features__description p, .slides p {
  color: #5b6987;
  font-size: 16px;
}

.slides {
  background-color: #f3f5f9;
  padding-bottom: 80px;
}

.slides__text h1 {
  color: #031b4e;
  font-size: 40px;
  font-weight: 600;
  padding: 60px 0 20px 0;
}

.slides__text p {
  color: #5b6987;
  font-size: 20px;
  padding: 0 60px 80px 60px;
}

.slides__img img {
  height: auto;
  width: 40%;
}

.slides__img i {
  color: #5b6987;
  font-size: 30px;
  padding: 0 20px;
}

.slides__img i:hover {
  color: #031b4e;
}

.slides__img p {
  color: #031b4e;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
  padding-bottom: 0;
  padding-top: 10px;
}

.slides__text__circles i {
  color: #006aff;
  font-size: 12px;
}

.slides__text__circles i:hover {
  background-color: #006aff;
  border-radius: 50%;
}

.features__column {
  display: inline-block;
  margin-top: 30px;
  padding: 0 20px;
  width: calc((100% / 3) - 3px);
}

.features__column h5 {
  color: #031b4e;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 0;
}

.features__column a {
  color: #006aff;
  font-weight: 500;
}

.regions {
  background-color: #031b4e;
  background-image: url("../img/bg-map.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.regions h2 {
  padding-top: 80px;
}

table {
  margin-bottom: 80px;
  margin-top: 30px;
  width: 100%;
}

td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.7);
}


td:first-of-type {
  color: white;
  padding-right: 15px;
}

.regions a {
  color: #00d7d2;
}

.regions a:hover {
  color: #1633ff;
}

.regions a:focus {
  color: white;
  padding: 0;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .hero .login-form {
    margin: auto;
    min-width: 350px;
    padding-top: 0;
  }
}

.sponsor__logos--block {
  display: inline-block;
}

h1 {
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .features {
    margin-top: 40px;
  }

  .sponsor__logos--block {
    display: block;
  }

  h1 {
    font-size: 30px;
    padding-top: 100px;
  }

  .features__description .row {
    margin-left: 10px;
  }

  .slides__text h1 {
    font-size: 30px;
    padding: 50px 0 20px 0;
  }

  .features__column {
    display: block;
    width: 100%;
  }
}
